


<div id="fondo-login" class="contenedor_1 grid flex align-items-center justify-content-center">



      <div class="contenedor_2 col-11 md:col-3 text-center shadow-4 pl-4 pr-4 pt-3 pb-3 bg-white md:h-24rem">
        <!-- imagen  -->

        <div class="">

          <!-- dividir  -->
          <p-divider></p-divider>
          <h4 class="">Restablecer su Contraseña</h4>

          <!-- form  -->
          <form  [formGroup]="loginForm" (ngSubmit)="restablecer() " >
            <!-- agrupardor de inputs  -->
              <p-inputGroup >
                <!-- agrgar inputs  -->
                  <p-inputGroupAddon class="">
                      <i class="pi pi-user-edit" ></i>
                  </p-inputGroupAddon>
                  <input class="p-inputtext-sm" pInputText placeholder="Usuario" formControlName="usuario"/>
              </p-inputGroup>
              <!-- agrupador de inputs  -->
              <p-inputGroup class="mt-4 mb-4">
                  <p-inputGroupAddon >
                      <i class="pi pi-lock "></i>
                  </p-inputGroupAddon>
                  <input type="password" class="p-inputtext-sm" pInputText placeholder="Contraseña" formControlName="password"/>
              </p-inputGroup>
              <!-- <div class="flex align-items-center justify-content-center mb-3">
                  <p-checkbox  [binary]="true" inputId="binary"></p-checkbox>
                  <small class="ml-2">Mostrar contraseña</small>
              </div> -->
              <p-button size="small" type="submit" label="Actualizar" class=""></p-button>



          </form>

          <div class="contenedor_2_3">

            <a href="" [routerLink]="['/login']"><p>
              Regresar?
            </p></a>
          </div>


        </div>

      </div>

  </div>

<p-toast></p-toast>
