

/* estilos */

/* configurar esto en css  */
@charset "UTF-8";


.contenedor{

  width: 100%;
  width: 100%;
  background-color: #bed2d9;


}





/* parte de arriba  estilos para header */
/deep/ .menuclass {
  /* background: green; */
  /* background-color: #00c867; */
  display: flex;
  margin-right: 30px;
text-align: center;
color: white;

}





.contenedor_1{

  display: flex;
justify-content: flex-end;
}


.contenedor h4{
  font-family: "New Amsterdam", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}


/deep/ .menu2{
  font-family: "New Amsterdam", sans-serif;
  font-size: 20px;
}



/* ---barra arriba barra de navegacion  */

/*  */


:host ::ng-deep .p-menubar {
  position: relative;
  right: 0;
  border-radius: 5px;
  max-width: 100%;
}

/* movi */
:host ::ng-deep .p-menubar .p-menubar-button{
  position: absolute;
  right: 0;
  top: 100%;
  transform: translateX(-50%) translateY(-135%);
  color: black;
  width: 40px;
  height: 40px;
}





/* desktop */
@media screen and (min-width: 860px) {


  :host ::ng-deep  .p-menubar-root-list>li:last-child .p-submenu-list {
    right: 0;

  }

  :host ::ng-deep .p-menubar .p-menubar-root-list {
    position: absolute;
    right: 0;
    top: 95%;
    transform: translateX(-5%) translateY(-120%);
  }

}





/* estilos para el modal agregar  */

.modal_agregar{
  background-color: aquamarine;

}



/* estilos navbar botones  */
:host ::ng-deep .p-button{
  text-align: center;
  justify-content: center;
  border-radius: 15px;
}




/* estilos para el nav mobile */

@media screen and (min-width: 860px) {

  :host >>> .active{
    background-color: greenyellow;
    display: none;
  }

}



