

<!-- COMPONENTE TABLA  -->



<!-- menu parte superior  -->
<p-menubar [model]="items" class="">
  <!-- pnatilla de angular o templates para retulizar -->
  <!-- pTemplate :es una directiva personalizada de PrimeNG. Su finalidad es vincular una plantilla definida por usted (el usuario) a un contenedor definido por la biblioteca (PrimeNG).
  Esto permite al usuario proporcionar una plantilla personalizada que se muestra dentro de un componente creado por la biblioteca. -->
  <ng-template pTemplate="start" class="">

  </ng-template>
</p-menubar>







<div class="grid justify-content-center align-content-center">
  <div class="col-11 md:col-11 mt-2">
    <!-- elemento flexible  es para encabezado para el header -->
    <p-card [subheader]="'Estado de Cuenta'">
      <!-- para la tabla  -->
      <p-table [styleClass]="'p-datatable-sm'" [tableStyle]="{ 'min-width':'50rem' }" [value]="DataSupliers" >
        <ng-template pTemplate="header">
          <tr>
              <th>Serie_Correl</th>
              <th>Fecha Emision</th>
              <th>Fecha Vencimiento</th>
              <th>Fecha Programacion</th>
              <th>Moneda</th>
              <th>Total</th>
              <th>Monto</th>
              <th>Saldo</th>
          </tr>
      </ng-template>
                      <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ DataSupliers.SERIE_CORREL }}</td>
                        <td>{{ DataSupliers.Fec_Emision }}</td>
                        <td>{{ DataSupliers.Fec_VCTO }}</td>
                        <td>{{ DataSupliers.Fec_Programacion }}</td>
                        <td>{{ DataSupliers.Moneda }}</td>
                        <td>{{ DataSupliers.Total_Documento }}</td>
                        <td>{{ DataSupliers.Monto_pagado }}</td>
                        <td>{{ DataSupliers.Saldo_pendiente}}</td>
                    </tr>
                </ng-template>

      </p-table>
    </p-card>
  </div>
</div>
