

<!-- COMPONENTE TABLA  -->


<div class="contenedor flex flex-column h-full
 justify-content-center align-content-center">

<div class="">


    <p-menubar class="" [model]="items">
      <ng-template pTemplate="start">
          <img src="assets/images/LogoMp2.png" height="40" class="mr-2">
      </ng-template>
      <ng-template pTemplate="end"  >

      </ng-template>
  </p-menubar>

    <div class="contenedor_1 mt-2">



    </div>

    <div class="ml-7">
        <h4>Proveedor {{usuario}}</h4>
    </div>



  <div class="contenedor_2 grid justify-content-center align-content-center">
    <div class="col-11 md:col-11 mt-2">
      <!-- elemento flexible  es para encabezado para el header -->
      <p-card #menu2 styleClass="menu2" [subheader]="'Estado de Cuenta ' " class="h-7rem">

        <div>
          <div class="flex mb-2 gap-2 justify-content-end">
            <p-button
                (onClick)="activeIndex = 0"
                rounded="true"
                styleClass="w-2rem h-2rem p-0"
                [outlined]="activeIndex !== 0"
                label="1" />
            <p-button
                (onClick)="activeIndex = 1"
                rounded="true"
                styleClass="w-2rem h-2rem p-0"
                [outlined]="activeIndex !== 1"
                label="2" />

        </div>
        <!-- tabla  -->
            <p-tabView [(activeIndex)]="activeIndex">

              <!-- 1 tabla  -->
                <p-tabPanel header="Estado Cuenta">
                  <p-table [styleClass]="'p-datatable-sm'" [tableStyle]="{ 'min-width':'50rem' }" [value]="DataSupliers" >
                    <ng-template pTemplate="header">
                      <tr>
                          <th>Serie_Correl</th>
                          <th>Fecha Emision</th>
                          <th>Fecha Vencimiento</th>
                          <!-- <th>Fecha Programacion</th> -->
                          <th>Moneda</th>
                          <th>Total</th>
                          <th>Monto</th>
                          <th>Saldo</th>
                          <!-- <th></th> -->
                      </tr>
                  </ng-template>
                                  <ng-template pTemplate="body" let-supliers>
                                <tr>
                                    <td>{{ supliers.SERIE_CORREL }}</td>
                                    <!-- lo corta el valor  -->
                                    <td>{{ supliers.Fec_Emision.split(' ')[0] }}</td>
                                    <td>{{ supliers.Fec_VCTO.split(' ')[0] }}</td>
                                    <!-- <td>{{ supliers.Fec_Programacion }}</td> -->
                                    <td>{{ supliers.Moneda }}</td>

                                    <!-- mejora el decimal con 2   -->
                                    <td>{{  supliers.Total_Documento | number:   '1.2-2' }}</td>
                                    <td>{{ supliers.Monto_pagado  | number:   '1.2' }}</td>
                                    <td>{{ supliers.Saldo_pendiente | number :  '1.3'}}</td>
                                    <!-- <td class="text-center flex gap-3" >
                                      <p-button  icon="pi pi-pencil" [text]="true" [raised]="true" />
                                      <p-button  icon="pi pi-times" [text]="true" [raised]="true" />
                                  </td> -->
                                </tr>
                            </ng-template>

                  </p-table>
                </p-tabPanel>

                <!-- 2 tabla  -->
                <p-tabPanel header="Bancos">
                  <p-table [styleClass]="'p-datatable-sm'" [tableStyle]="{ 'min-width':'50rem' }" [value]="dataSuppliersBanck" >
                    <ng-template pTemplate="header">
                      <tr>
                          <th>Codigo Banco </th>
                          <th>Pais</th>
                          <th>Cuenta </th>
                          <th>Tipo Cuenta</th>
                          <th>Moneda Sap</th>
                          <th>Moneda Sap</th>
                          <th></th>
                      </tr>
                  </ng-template>
                                  <ng-template pTemplate="body" let-supliersbanck>
                                <tr>
                                    <td>{{ supliersbanck.Codigo_Banco }}</td>
                                    <!-- lo corta el valor  -->
                                    <td>{{ supliersbanck.Pais }}</td>
                                    <td>{{ supliersbanck.Cuenta}}</td>
                                    <!-- <td>{{ supliersbanck.Fec_Programacion }}</td> -->
                                    <td>{{ supliersbanck.Tipo_Cuenta }}</td>

                                    <!-- mejora el decimal con 2   -->
                                    <td>{{  supliersbanck.Moneda_SAP }}</td>
                                    <td>{{ supliersbanck.Moneda_Banco   }}</td>
                                    <td>
                                      <p-button icon="pi pi-pencil" [rounded]="true" />


                                    </td>


                                </tr>
                            </ng-template>

                  </p-table>
                </p-tabPanel>

        </p-tabView>

        </div>





      </p-card>
    </div>
  </div>
</div>

</div>









<!-- MODAL ACTUALIZAR  -->
<!-- <p-button (onClick)="actualizar()" label="Show" /> -->
<p-dialog
    header="Actualizar Contraseña"
    [(visible)]="modalBolean"
    [modal]="true"

    [style]="{ width: '350px', height :'320px' }"
    [draggable]="false"
    [resizable]="false">
    <div class="grid  bg-green-800 justify-content-center align-content-center">

      <form [formGroup]="loginForm" (ngSubmit)="actualizar()">
        <!-- agrupardor de inputs  -->
          <p-inputGroup >
            <!-- agrgar inputs  -->
              <p-inputGroupAddon class="">
                  <i class="pi pi-user" ></i>
              </p-inputGroupAddon>
              <input class="p-inputtext-sm" pInputText placeholder="Usuario" formControlName="usuario"/>
          </p-inputGroup>
          <!-- agrupador de inputs  -->
          <p-inputGroup class="mt-3 mb-3">
              <p-inputGroupAddon >
                  <i class="pi pi-lock"></i>
              </p-inputGroupAddon>
              <input type="password" class="p-inputtext-sm" pInputText placeholder="Contraseña" formControlName="password"/>
          </p-inputGroup>


            <p-button size="small" type="submit" label="Ingresar" class="" ></p-button>




        </form>

    </div>
</p-dialog>

