

<!-- COMPONENTE TABLA  -->



<!-- menu parte superior  -->
<p-menubar [model]="items" class="">
  <!-- pnatilla de angular o templates para retulizar -->
  <!-- pTemplate :es una directiva personalizada de PrimeNG. Su finalidad es vincular una plantilla definida por usted (el usuario) a un contenedor definido por la biblioteca (PrimeNG).
  Esto permite al usuario proporcionar una plantilla personalizada que se muestra dentro de un componente creado por la biblioteca. -->
  <ng-template pTemplate="end" class="">

  </ng-template>
</p-menubar>







<div class=" contenedor_1 grid justify-content-center align-content-center">
  <div class="col-11 md:col-11 mt-2">
    <!-- elemento flexible  es para encabezado para el header -->
    <p-card [subheader]="'Estado de Cuenta '">

      <div class="grid flex justify-content-end pb-3">

        <div class="md:col-2 col-12">
          <label for="prroveedor" class="font-bold block mb-2"> Provedor : </label>
          <input type="text" pInputText id="prroveedor" [(ngModel)]="prroveedor" class="h-2rem" />
      </div>
      <div class="md:col-4 pt-5 col-12 flex justify-content-end">
        <p-button label="Buscar" icon="pi pi-search" severity="success" />
        <p-button class="ml-3" severity="secondary" label="Limpiar" icon="pi pi-eraser"  />
        <p-button class="ml-3" severity="info" icon="pi pi-sync"  />
    </div>

      </div>
      <!-- para la tabla  -->
      <p-table [styleClass]="'p-datatable-sm'" [tableStyle]="{ 'min-width':'50rem' }" [value]="DataSupliers" >
        <ng-template pTemplate="header">
          <tr>
              <th>Serie_Correl</th>
              <th>Fecha Emision</th>
              <th>Fecha Vencimiento</th>
              <!-- <th>Fecha Programacion</th> -->
              <th>Moneda</th>
              <th>Total</th>
              <th>Monto</th>
              <th>Saldo</th>
              <th></th>
          </tr>
      </ng-template>
                      <ng-template pTemplate="body" let-supliers>
                    <tr>
                        <td>{{ supliers.SERIE_CORREL }}</td>
                        <!-- lo corta el valor  -->
                        <td>{{ supliers.Fec_Emision.split(' ')[0] }}</td>
                        <td>{{ supliers.Fec_VCTO.split(' ')[0] }}</td>
                        <!-- <td>{{ supliers.Fec_Programacion }}</td> -->
                        <td>{{ supliers.Moneda }}</td>

                        <!-- mejora el decimal con 2   -->
                        <td>{{  supliers.Total_Documento | number:   '1.2-2' }}</td>
                        <td>{{ supliers.Monto_pagado  | number:   '1.2' }}</td>
                        <td>{{ supliers.Saldo_pendiente | number :  '1.3'}}</td>
                        <td class="text-center gap-8" >
                          <p-button  icon="pi pi-pencil" [text]="true" [raised]="true" />
                          <p-button  icon="pi pi-times" [text]="true" [raised]="true" />
                      </td>
                    </tr>
                </ng-template>

      </p-table>
    </p-card>
  </div>
</div>
